@mixin greg($columns, $gutter, $breakpoint: 480px) {
    $columnWidth: ($gutter + 100%) / $columns - $gutter;
    $classNames: "";

    @for $column from 1 through $columns {
        .col_#{$column} {
            width: $column * ($columnWidth + $gutter) - $gutter;
        }
        $classNames: $classNames + ".col_#{$column},";
    }

    #{$classNames} {
        float: left;
        display: block;
        margin-left: $gutter;
        &:first-child { margin-left: 0; }
        @media only screen and (max-width: $breakpoint) {
            & {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}