@mixin greg($columns, $gutter, $breakpoint: 480px, $limit: ()) {
  $column-width: ($gutter + 100%) / $columns - $gutter;
  $class-names: '';

  @for $column from 1 through $columns {
    @if length($limit) == 0 or index($limit, $column) {
      .col_#{$column} {
        width: $column * ($column-width + $gutter) - $gutter;
      }
  
      $class-names: $class-names + '.col_#{$column},';
    }
  }

  @if $class-names != '' {
    #{$class-names} {
      display: block;
      float: left;
      margin-left: $gutter;
      &:first-child { margin-left: 0; }
      @media only screen and (max-width: $breakpoint) {
        & {
          margin-left: 0;
          width: 100%;
        }
      }
    }
  }
}
