@mixin greg($cols, $gutter, $breakpoint: 480px) {
    $gutters: $cols - 1; // # of gutters
    $gutterWidth: $gutters * $gutter; // Total width of gutters
    $gridWidth: 100% - $gutterWidth; // Usable width of grid
    $colWidth: $gridWidth / $cols; // Single col width
    $width: 100%;
    $sharedCSS: "";

    @while $cols > 0 {
        .col_#{$cols} {
            width: $width;
        }

        $sharedCSS: $sharedCSS + ".col_#{$cols},";

        $cols: $cols - 1;
        $width: $width - ($colWidth + $gutter);
    }

    #{$sharedCSS} {
        float: left;
        display: block;
        margin-left: $gutter;
        &:first-child { margin-left: 0; }
        @media only screen and (max-width: $breakpoint) {
            & {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}